<!DOCTYPE html>
<html>

<head>

    <title>AEGISAI - Settings</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="sidebar">

    <h2>🛡 AEGISAI</h2>

    <ul>

        <li><a href="/">🏠 Dashboard</a></li>

        <li><a href="/assets">🌐 Assets</a></li>

        <li><a href="/threats">🚨 Threats</a></li>

        <li><a href="/reports">📄 Reports</a></li>

        <li><a href="/settings">⚙ Settings</a></li>

    </ul>

</div>

<div class="main">

    <h1>⚙ Platform Settings</h1>

    <br>

    <div class="cards">

        <div class="card">

            <h3>AI Engine</h3>

            <h1>Enabled</h1>

        </div>

        <div class="card">

            <h3>Threat Alerts</h3>

            <h1>ON</h1>

        </div>

        <div class="card">

            <h3>Automatic Scan</h3>

            <h1>Enabled</h1>

        </div>

        <div class="card">

            <h3>Platform Version</h3>

            <h1>v1.0</h1>

        </div>

    </div>

    <br>

    <div class="table-section">

        <h2>System Configuration</h2>

        <table>

            <tr>

                <th>Setting</th>
                <th>Status</th>

            </tr>

            <tr>

                <td>AI Threat Detection</td>
                <td class="low">Enabled</td>

            </tr>

            <tr>

                <td>Real-Time Monitoring</td>
                <td class="low">Enabled</td>

            </tr>

            <tr>

                <td>Email Notification</td>
                <td class="medium">Coming Soon</td>

            </tr>

            <tr>

                <td>Telegram Alerts</td>
                <td class="medium">Coming Soon</td>

            </tr>

            <tr>

                <td>Automatic Patch Recommendation</td>
                <td class="low">Enabled</td>

            </tr>

        </table>

    </div>

</div>

</body>

</html>